body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.NodeContainer {
  flex-grow: 2;
  overflow-x: scroll;
  max-width: 1000px;
}

.Note {
  flex-grow: 1;
  border-left: 1px solid grey;
  min-width: 400px;
  max-width: 600px;
  overflow-y: scroll;
}
